
#orderContainer {
    font-family: 'Lato', sans-serif;
    width: 80%;
    padding-top: 250px;
    padding-bottom: 150px;
    margin: auto;
    text-align: center;
}

    #orderContainer i {
        color: rgb(5, 187, 5);
        padding-bottom: 30px;
        font-size: 10em;
    }

#check {
    animation-name: OrderSuccess;
    animation-duration: 5s;
}
@keyframes OrderSuccess {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

#aboutCheck p {
    font-weight: 100;
    letter-spacing: 1px;
}

#aboutCheck h1 {
    letter-spacing: 1px;
    word-spacing: 1px;
}
svg {
    transform: rotate(-90deg);
    transition: width 500ms ease-in-out;
}

circle {
    fill: transparent;
    stroke: white;
    stroke-width: 12px;
    /*  
    Why 38 here ?
    Roughly equal to 6 * pie: 
    Average distance instead of circumference
*/
    stroke-dasharray: 38px;
    stroke-dashoffset: 76px;
    animation: rotate 6s linear infinite;
}

.countdown-number {
    width: 50px;
    height: 50px;
}

@keyframes rotate {
    to {
        stroke-dashoffset: 38px;
        /*      safari not support negative dashoffset */
        /*      stroke-dashoffset: -38px; */
    }
}
/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 700px) {
    #orderContainer i {
        font-size: 8em;
        padding-bottom: 30px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
}
