@page
@model Ecommerce_Application.Views.Profile.UserInfoModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{

}
<div class="hstack gap-3 align-items float-start"  style="color: white;">
    <span>Welcome @ViewBag.Username</span>
</div>
@section Blank {
    @{

    }
}
@section Blank2 {
    @{

    }
}