@model Ecommerce_Application.Models.Registration

@{
    ViewData["Title"] = "Create";
}
<body style="background-image: url('../img/login/register.jpg');" loading="eager">

    <div class="wrapper" id="registerWrapper" style="overflow:hidden">
        <div class="text-center mt-4 name">
            Register
        </div>
        <form asp-controller="Account" asp-action="Register" id="RegisterForm" method="post" class="p-3 mt-3">
            <div asp-validation-summary="ModelOnly"></div>

            <span asp-validation-for="Name" id="NameError"></span>
            <div style="color:#fff">Name</div>
            <div class="form-field d-flex align-items-center">

                <input asp-for="Name" id="Name" type="text" autocomplete="off" />
            </div>

            <span asp-validation-for="Username" id="UserNameError"></span>
            <div style="color:#fff">Username</div>
            <div class="form-field d-flex align-items-center">

                <input asp-for="Username" id="UserName" type="text" autocomplete="off" />
            </div>

            <span asp-validation-for="Email" id="EmailError"></span>
            <div style="color:#fff">Email</div>
            <div class="form-field d-flex align-items-center">

                <input asp-for="Email" id="Email" type="email" autocomplete="off" />
            </div>

            <span asp-validation-for="Password" id="PasswordError"></span>
            <div style="color:#fff">Password</div>
            <div class="form-field d-flex align-items-center">

                <input asp-for="Password" id="Password" type="password" autocomplete="off" />
            </div>

            <span asp-validation-for="PasswordConfirm" id="ConfirmPasswordError"></span>
            <div style="color:#fff">Confirm Password</div>
            <div class="form-field d-flex align-items-center">

                <input asp-for="PasswordConfirm" id="ConfirmPassword" type="password" autocomplete="off" />
            </div>

            <div class="form-field d-flex align-items-center" style="display:none !important">

                <input asp-for="Role" type="hidden" placeholder="Role" value="User" />
                <span asp-validation-for="Role"></span>
            </div>


            <div class="form-group d-flex justify-content-center align-items-center row" style="margin-top: 50px;">
                <input type="submit" id="SubmitButton" value="Register" class="btn btn-primary" />
            </div>
        </form>
        <div class="text-center fs-6" style="color:#fff;">
            Already have an account?
            <h4><a href="/Account/Login" class="d-flex justify-content-center row">Click here</a></h4>
        </div>
    </div>
</body>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#NameError').hide();
            $('#UserNameError').hide();
            $('#EmailError').hide();
            $('#PasswordError').hide();
            $('#ConfirmPasswordError').hide();

            var Name_Error = true;
            var UserName_Error = true;
            var Email_Error = true;
            var Password_Error = true;
            var ConfirmPassword_Error = true;

            $('#Name').keyup(function () {
                name_check();
            });
            $('#UserName').keyup(function () {
                username_check();
            });
            $('#Email').keyup(function () {
                email_check();
            });
            $('#Password').keyup(function () {
                password_check();
            });
            $('#ConfirmPassword').keyup(function () {
                confirmpassword_check();
            });



            function name_check() {
                //
                var NameValue = $('#Name').val();

                if (NameValue == '') {
                    $('#NameError').show();
                    $('#NameError').html("Please Enter correct Name");
                    $('#NameError').focus();
                    $('#NameError').css("color", "red");
                    $('#NameError').css("font-weight", "bold");

                    Name_Error = false;
                    return false;
                }
                else {
                    $('#NameError').hide();
                    return true;
                }
            }


            function username_check() {
                var UserNameValue = $('#UserName').val();

                if (UserNameValue == '') {
                    $('#UserNameError').show();
                    $('#UserNameError').html("Please Enter correct Username");
                    $('#UserNameError').focus();
                    $('#UserNameError').css("color", "red");
                    $('#UserNameError').css("font-weight", "bold");
                    UserName_Error = false;
                    return false;
                }
                else {
                    $('#UserNameError').hide();
                    return true;

                }

                if (UserNameValue.length < 3) {
                    $('#UserNameError').show();
                    $('#UserNameError').html("Please Enter Username Length more than 3");
                    $('#UserNameError').focus();
                    $('#UserNameError').css("color", "red");
                    $('#UserNameError').css("font-weight", "bold");
                    UserName_Error = false;
                    return false;
                }
                else {
                    $('#UserNameError').hide();
                    return true;

                }
            }

            function email_check() {
                var EmailValue = $('#Email').val();
                var pattern = /^\b[A-Z0-9._%-]+[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;

                if (EmailValue == '') {
                    $('#EmailError').show();
                    $('#EmailError').html("Please Enter correct Email");
                    $('#EmailError').focus();
                    $('#EmailError').css("color", "red");
                    $('#EmailError').css("font-weight", "bold");
                    Email_Error = false;
                    return false;
                }
                else {
                    $('#EmailError').hide();
                    return true;

                }

                if (!pattern.test(EmailValue)) {
                    $('#EmailError').show();
                    $('#EmailError').html("Please Enter correct Email address");
                    $('#EmailError').focus();
                    $('#EmailError').css("color", "red");
                    $('#EmailError').css("font-weight", "bold");
                    Email_Error = false;
                    return false;
                }
                else {
                    $('#EmailError').hide();
                    return true;

                }
            }

            function password_check() {
                var PasswordValue = $('#Password').val();
                var pattern = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,16}$/;
                if (PasswordValue == '') {
                    $('#PasswordError').show();
                    $('#PasswordError').html("Please Enter correct Password");
                    $('#PasswordError').focus();
                    $('#PasswordError').css("color", "red");
                    $('#PasswordError').css("font-weight", "bold");
                    Password_Error = false;
                    return false;
                }
                else {
                    $('#PasswordError').hide();
                    return true;
                }

                if (!pattern.test(PasswordValue)) {
                    $('#PasswordError').show();
                    $('#PasswordError').html("Valid password: Atleast, 1 digit, 1 lowercase, 1 uppercase, 1 special, 8-16 chars.");
                    $('#PasswordError').focus();
                    $('#PasswordError').css("color", "red");
                    $('#PasswordError').css("font-weight", "bold");
                    Password_Error = false;
                    return false;
                }
                else {
                    $('#PasswordError').hide();
                    return true;

                }
            }


            function confirmpassword_check() {
                var PasswordValue = $('#Password').val();
                var ConfirmPasswordValue = $('#ConfirmPassword').val();
                if (ConfirmPasswordValue != PasswordValue) {
                    $('#ConfirmPasswordError').show();
                    $('#ConfirmPasswordError').html("Password are not Matching");
                    $('#ConfirmPasswordError').focus();
                    $('#ConfirmPasswordError').css("color", "red");
                    $('#ConfirmPasswordError').css("font-weight", "bold");
                    ConfirmPassword_Error = false;
                    return false;
                }
                else {
                    $('#ConfirmPasswordError').hide();
                    return true;

                }

            }

            $('#SubmitButton').click(function () {
                debugger
                var Name_Error = true;
                var UserName_Error = true;
                var Email_Error = true;
                var Password_Error = true;
                var ConfirmPassword_Error = true;
                var namecheck = name_check();
                var usernamechack = username_check();
                var emailcheck = email_check();
                var passwordcheck = password_check();
                var confirmpasswordcheck = confirmpassword_check();

                if ((namecheck == true) && (usernamechack == true) && (emailcheck == true) && (passwordcheck == true) && (confirmpasswordcheck == true)) {
                    return true;
                } else {
                    return false;
                }

            });


            $('#RegisterForm').submit(function (e) {
                debugger
                e.preventDefault();
                var NameValue = $('#Name').val();
                var UserNameValue = $('#UserName').val();
                var EmailValue = $('#Email').val();
                var PasswordValue = $('#Password').val();
                var ConfirmPasswordValue = $('#ConfirmPassword').val();
                var Role = "User";
                var obj = {
                    Name: NameValue,
                    Username: UserNameValue,
                    Email: EmailValue,
                    Password: PasswordValue,
                    PasswordConfirm: ConfirmPasswordValue,
                    Role: Role
                };
                AfterSubmit(obj);


            });

            function AfterSubmit(obj) {
                debugger
                $.ajax({
                    url: '@Url.Action("Register", "Account")',
                    type: 'post',
                    data: obj,
                    dataType: 'json',
                    success: function (result) {
                        if (result.statusCode === 1) {
                            debugger
                            //alert("Registeration done");
                            console.log('Registration was successful.');
                            debugger
                            localStorage.setItem('UserName', obj.Username);
                            localStorage.setItem('Password', obj.Password);
                            swal.fire(
                                'Congratulations',
                                result.message,
                                'success'

                            ).then(function () {

                                // Automatically log in the user after successful registration
                                var loginData = {
                                    UserName: obj.Username,
                                    Password: obj.Password
                                };
                                debugger
                                $.ajax({
                                    url: '@Url.Action("Login", "Account")',
                                    type: 'post',
                                    data: loginData,
                                    dataType: 'json',
                                    success: function (obj) {
                                        debugger
                                        console.log('Login after registration was successful.');

                                        window.location.href = origin;
                                    },
                                    error: function (error) {
                                        console.log('An error occurred during login after registration.');
                                        console.log(error);
                                    }
                                });

                            })
                        } else if (result.statusCode === 0) {
                            debugger
                            //alert("Registeration Exists");
                            console.log('Registration was successful.');
                            swal.fire(
                                'Sorry',
                                result.message,
                                'error'
                            )
                        }

                    },
                    error: function (error) {
                        console.log('An error occurred during registration.');
                        console.log(error);
                    }
                });
            }

        });

    </script>
}

@section Blank {
    @{

    }
}
@section Blank2 {
    @{

    }
}